.frame {
    @apply bg-primary-700/20 text-black font-sans overflow-hidden h-screen w-screen overflow-auto p-4;
}

.frame-inner {
    @apply flex flex-col container mx-auto h-full w-full rounded-2xl shadow-xl shadow-primary-800/10 overflow-hidden;
}

.frame-left {
    @apply w-full order-2 p-6 bg-white overflow-auto;
}

.frame-right {
    @apply relative w-full order-1 p-6 bg-primary-700 from-primary-800 to-primary-700 text-white overflow-hidden;
}

.frame-pattern {
    @apply absolute invisible;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23FFFFFF' fill-opacity='0.1'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.frame-pattern-1 {
    @apply top-0 right-0;
    height: 12rem;
    width: 24rem;
}

.frame-pattern-2 {
    @apply bottom-0 left-0;
    height: 24rem;
    width: 20rem;
}

@media screen(sm) {
    .frame-left {
        @apply p-16;
    }
}

@media screen(lg) {
    .frame {
        @apply p-8 p-32;
    }

    .frame-inner {
        @apply flex-row;
    }

    .frame-left {
        @apply w-1/2 p-8 order-none;
    }

    .frame-right {
        @apply w-1/2 order-none bg-gradient-to-tl;
    }

    .frame-pattern {
        @apply visible;
    }
}

@media screen(xl) {
    .frame-left {
        @apply p-16;
    }
}

@media screen(2xl) {
    .frame-left {
        @apply p-32;
    }
}

@media (prefers-color-scheme: dark) {
    .frame {
        @apply bg-primary-900 text-white;
    }

    .frame-left {
        @apply bg-gray-900;
    }
}
